.navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 1rem;
    top: 0;
    left: 0;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    border-radius: 1rem;
    justify-content: space-around;
    align-items: center;
}

.nav-option {
    padding: 1rem;
    transition: all 0.3s ease-out;
}
.nav-option:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
}